block variable
    -var path = '';
    //- -var page = true;
    -var page = 'bg';
    //- -var leadmagnet = true;

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

        link(rel="stylesheet", type="text/css", href=path +"css/twentytwenty.css")
        link(rel="stylesheet", type="text/css", href=path +"css/swiper-bundle.min.css")
        link(rel="stylesheet", type="text/css", href=path +"css/aos.css")
        link(rel="stylesheet", type="text/css", href=path +"css/fancybox.min.css")
        link(rel="stylesheet", type="text/css", href=path +"css/jquery-ui.css")
        link(rel="stylesheet", type="text/css", href=path + "css/style.css")
    body
        //- begin preloader
        //- .preloader__wrap#preloader
        //-     .preloader
        //-         <div></div>
        //-         <div></div>
        //-         <div></div>
        //-         <div></div>
        //-         <div></div>
        //-         <div></div>
        //-         <div></div>
        //-         <div></div>
        //-         <div></div>
        //- end preloader

        .wrapper#wrapper

            if page=='bg'
                include header_bg.pug
            else if page=='leadmagnet'
                include header_leadmagnet.pug
            else
                include header.pug



            //- main.main_content.lines
            //-     .lines__wrap
            //-         .lines__list
            //-             span
            //-             span
            //-             span
            //-             span
            //-             span

            main.main_content
                block content

            //- begin lowerpanel
            //- .lowerpanel#lowerpanel
            //-     .lowerpanel__wrap
            //-         .lowerpanel__toggle
            //-             span
            //- 
            //-         .lowerpanel__container
            //-             a(href="#download2").lowerpanel__link.show_js
            //-                 .lowerpanel__btn
            //-                     i.icon_pdf
            //-                 .lowerpanel__hint
            //-                     span Скачать презентацию
            //-             a(href="#application").lowerpanel__link.show_js
            //-                 .lowerpanel__btn
            //-                     i.icon_phone
            //-                 .lowerpanel__hint
            //-                     span Оставить заявку
            //-             a(href="#discounts").lowerpanel__link.show_js
            //-                 .lowerpanel__btn
            //-                     i.icon_percentage
            //-                 .lowerpanel__hint
            //-                     span Акции
            //-             a(href="https://wa.me/+73912054081" target="_blank").lowerpanel__link
            //-                 .lowerpanel__btn
            //-                     i.icon_whatsapp
            //-                 .lowerpanel__hint
            //-                     span Написать в WhatsApp
            //- end lowerpanel

            //- begin clip

            //- .clip
            //-     .clip__bg.bg(style="background-image: url('"+path +"img/clip_bg.png')")
            //-         .clip__toggle.clip-toggle-js
            //-             i.icon_plus_deg
            //-         .clip__play
            //-             .play.pulse.youtubeModal-js#rsDoGqnPE4c
            //-                 i.icon_play



            //- end clip

            //- begin toTop
            .toTop
                a(href="#wrapper") 
                    i.icon_to_top

            //- end toTop


            if page=='leadmagnet'
                include footer_leadmagnet.pug
            else
                include footer.pug

            //- include footer.pug
            include modal.pug

            script(src=path +"js/jquery.js")
            script(src=path +"js/jquery.maskedinput.min.js")
            script(src=path +"js/modal.js")
            script(src=path +"js/swiper-bundle.min.js")
            script(src=path +"js/slider.js")
            script(src=path +"js/select2.min.js")
            script(src=path +"js/jquery.event.move.js")
            script(src=path +"js/jquery.twentytwenty.js")
            script(src=path +"js/jquery.marquee.min.js")
            script(src=path +"js/aos.js")
            script(src=path +"js/fancybox.min.js")
            script(src=path +"js/jquery-ui.min.js")
            script(src=path +"js/jquery-ui-touch-punch.js")
            script(src=path +"js/quiz.js")
            script(src=path +"js/filter.js")
            script(src=path +"js/form.js")

            script(src=path +"js/function.js")
